default_shell "fish"
copy_on_select false
default_layout "compact"
pane_frames false
session_serialization false
simplified_ui true
show_startup_tips false
scrollback_editor "zellij-scrollback-editor"
keybinds clear-defaults=true {
  shared_among "normal" "scroll" {
    bind "Ctrl x" { EditScrollback; }
  }
  shared {
    bind "Ctrl f" {
      Run "zellij-sessionizer" {
        close_on_exit true
      };
    }
    bind "Alt f" { ToggleFloatingPanes; }
    bind "Ctrl Enter" { NewTab; SwitchToMode "Normal"; }
    bind "Alt l" { GoToNextTab; }
    bind "Alt h" { GoToPreviousTab; }
    bind "Alt 0" {
      Run "zellij-session-nav" "--headless" "0" {
        close_on_exit true
      };
    }
    bind "Alt 1" {
      Run "zellij-session-nav" "--headless" "1" {
        close_on_exit true
      };
    }
    bind "Alt 2" {
      Run "zellij-session-nav" "--headless" "2" {
        close_on_exit true
      };
    }
    bind "Alt 3" {
      Run "zellij-session-nav" "--headless" "3" {
        close_on_exit true
      };
    }
    bind "Alt 4" {
      Run "zellij-session-nav" "--headless" "4" {
        close_on_exit true
      };
    }
    bind "Alt 5" {
      Run "zellij-session-nav" "--headless" "5" {
        close_on_exit true
      };
    }
    bind "Alt 6" {
      Run "zellij-session-nav" "--headless" "6" {
        close_on_exit true
      };
    }
    bind "Alt 7" {
      Run "zellij-session-nav" "--headless" "7" {
        close_on_exit true
      };
    }
    bind "Alt 8" {
      Run "zellij-session-nav" "--headless" "8" {
        close_on_exit true
      };
    }
    bind "Alt 9" {
      Run "zellij-session-nav" "--headless" "9" {
        close_on_exit true
      };
    }
  }
  shared_except "normal" {
    bind "Ctrl c" { SwitchToMode "Normal"; }
  }
  shared_except "session" {
    bind "Alt o" { SwitchToMode "Session"; }
  }
  shared_except "scroll" {
    bind "Alt j" { SwitchToMode "Scroll"; }
  }
  scroll {
    bind "Ctrl d" { HalfPageScrollDown; }
    bind "Ctrl u" { HalfPageScrollUp; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "/" { SwitchToMode "EnterSearch"; }
  }
  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Search"; }
  }
  search {
    bind "n" { Search "up"; }
    bind "N" { Search "down"; }
    bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
    bind "Enter" { SwitchToMode "Normal"; }
  }
  shared_except "locked" {
    bind "Alt ;" { SwitchToMode "Locked"; }
  }
  shared_except "tab" {
    bind "Alt t" { SwitchToMode "Tab"; }
  }
  shared_except "pane" {
    bind "Alt p" { SwitchToMode "Pane"; }
  }
  shared_except "resize" {
    bind "Alt r" { SwitchToMode "Resize"; }
  }
  shared_except "move" {
    bind "Alt m" { SwitchToMode "Move"; }
  }
  tab {
    bind "J" { MoveTab "Left"; }
    bind "K" { MoveTab "Right"; }
    bind "1" { GoToTab 1; SwitchToMode "Normal"; }
    bind "2" { GoToTab 2; SwitchToMode "Normal"; }
    bind "3" { GoToTab 3; SwitchToMode "Normal"; }
    bind "4" { GoToTab 4; SwitchToMode "Normal"; }
    bind "5" { GoToTab 5; SwitchToMode "Normal"; }
    bind "6" { GoToTab 6; SwitchToMode "Normal"; }
    bind "7" { GoToTab 7; SwitchToMode "Normal"; }
    bind "8" { GoToTab 8; SwitchToMode "Normal"; }
    bind "9" { GoToTab 9; SwitchToMode "Normal"; }
  }
  pane {
    bind "h" { MoveFocus "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocus "Right"; }
    bind "H" { MovePane "Left"; }
    bind "J" { MovePane "Down"; }
    bind "K" { MovePane "Up"; }
    bind "L" { MovePane "Right"; }
    bind "f" { ToggleFocusFullscreen; }
    bind "r" { NewPane "Right"; SwitchToMode "Normal"; }
    bind "d" { NewPane "Down"; SwitchToMode "Normal"; }
  }
  resize {
    bind "h" { Resize "Left"; }
    bind "j" { Resize "Down"; }
    bind "k" { Resize "Up"; }
    bind "l" { Resize "Right"; }
  }
}
