use flake /home/dtsf/.dotfiles/modules/shells/nodejs

if ! test -d node_modules && test -f package.json; then
  if test -f package-lock.json; then
    npm install
  elif test -f yarn.lock; then
    yarn
  elif test -f pnpm-lock.yaml; then
    pnpm i
  fi
fi

export PNPM_HOME=$HOME/.local/share/pnpm
export PATH=$PNPM_HOME:$PATH
