use flake /home/dtsf/.dotfiles/shells/nodejs

if ! test -d node_modules && test -d package.json; then
  if test -d package-lock.json; then
    npm install
  elif test -d yarn.lock; then
    yarn
  elif test -d pnpm-lock.yaml; then
    pnpm i
  fi
fi

export PNPM_HOME=$HOME/.local/share/pnpm
export PATH=$PNPM_HOME:$PATH
