# general
.node_repl_history
.bun
.lesshst
.tool-versions
.var
desk
docs
downloads
music
pics
pub
templates
vids
.Xauthority
.icons
.themes
.wget*
.gtk*
.bash*
.asdf
.npm
.npmrc
.mozilla
.cache
.local/share
.local/state
*.sh
assets/rice.png
.pki
.yarnrc
.docker
.env
.pulse-cookie
.steam
.steampath
.steampid
VirtualBox VMs
go/

# git
.gitconfig-personal
.gitconfig-work

# config files
.fehbg
.config/dconf
.config/zellij
.config/gtk*
.config/pulse
.config/flameshot
.config/Q*
.config/cava
.config/chromium
.config/mpv/watch_later
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/obs-studio
.config/nextjs-nodejs
.config/configstore
.config/neofetch
.config/yarn
.config/simple-update-notifier
.config/Insomnia
.config/i3/config
.config/gh
.config/cef_user_data
.config/discord
.config/google-chrome
.config/unity3d
.config/github-copilot
.config/fontforge
.config/VirtualBox
.config/vlc
.config/qBittorrent
.config/htop
.giget
.test-config
pavucontrol.ini
# fish
.config/fish/completions
.config/fish/conf.d/hydro.fish
.config/fish/fish*
.config/fish/functions/fish_mode_prompt.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fisher.fish
.config/fish/themes
.config/fish/theme.conf
# tmux
tmux-out*
tmux-client*
tmux-server*

# wakatime
.wakatime*

# important
.ssh
www

# torrents folder
torrents

# tomato
.local/src
