[submodule "home/base/tui/editors/neovim/conf"]
	path = home/base/tui/editors/neovim/conf
	url = git@github.com:datsfilipe/datsnvim.git
[submodule "home/linux/base/scripts/conf"]
	path = home/linux/base/scripts/conf
	url = git@github.com:datsfilipe/unix-scripts.git
