.local/var
.local/state
.local/share/flatpak
.local/share/keyrings
.local/share/nvim
.local/share/Trash
.local/share/xorg
.local/share/desktop-directories
.local/share/gh
.local/share/pnpm
.local/share/applications
.local/share/icons
.local/share/applications
.local/share/desktop-directories
.local/share/gem
.local/share/icons
.local/share/nvim
.local/share/recently*
.local/share/Trash
.local/share/xorg
.Xauthority
.yarnrc
.asdf
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.dotfiles
.fehbg
.gitconfig-personal
.gtkrc-2.0
.npm
.oh-my-zsh
.pki
.ssh
.tool-versions
.var
.wakatime.bdb
.wakatime.cfg
.wakatime
.z
.zcompdump-dtsf-machine-5.9
.zcompdump-dtsf-machine-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
.pulse-cookie
.steam
.steampath
.steampid
.config/flameshot
.config/btop
.config/obs-studio
.config/spicetify
.config/stripe
.config/google-chrome
.config/menus
.config/systemd
.config/chromium
.config/dconf
.config/github-copilot
.config/pulse
.config/mpv/watch_later
.config/gh
.config/QtProject.conf
.config/discord/
.config/glib-2.0/
.config/neofetch/
.gnome/
.icons/Quintom_Snow/
.icons/Yaru-Red/
.lesshst
.wget-hsts
.serverauth*
.themes
.docker
.bun

# home dirs
desk
docs
downloads
music
pics/shots
pub
templates
vids
www
torrents

# nix
.nix-channels
.nix-defexpr
.nix-profile

# tmux
tmux-out*
tmux-client*
tmux-server*

# vm
VirtualBox*
.config/VirtualBox

# zsh
.shell.pre-oh-my-zsh
.zcompdump*
