pkgs/wl-shimeji/conf/shimeji-ee filter=lfs diff=lfs merge=lfs -text
pkgs/wl-shimeji/conf/shimeji-ee/*.zip filter=lfs diff=lfs merge=lfs -text
pkgs/krita-resources/data/bundles/*.bundle filter=lfs diff=lfs merge=lfs -text
