label {
  font-weight: bold;
}

progress, highlight {
  background: $primary;
  min-height: 7px;
  border-radius: 4px;
}

slider {
  box-shadow: none;
  background-color: $primary;
  outline: 1px solid $altbg;
  border-radius: 6px;
  min-height: 7px;
}
