label {
    font-weight: bold;
}

.bar {
    color: #c1c1c1;
    background-color: #151515;
    font-size: 12px;
}

.workspaces button {
    background-color: #252525;
    margin: 4px;
    border-radius: 0;
}

.workspaces button.focused {
    background-color:  #79b8ff;
    color: #151515;
}

.client-title {
    color: #ff7a84;
}

.clock {
  margin: 0 6px;
}

progress, highlight {
    background-color: #ff7a84;
    min-height: 4px;
    border-radius: 4px;
}
