use flake

if ! test -d node_modules && test -f package.json; then
  if test -f package-lock.json; then
    npm install
  elif test -f yarn.lock; then
    yarn
  elif test -f pnpm-lock.yaml; then
    pnpm i
  fi
fi

if ! grep -q .pre-commit-config.yaml .git/info/exclude; then
  echo "
.pre-commit-config.yaml
" >> .git/info/exclude
fi

# remove pre commit config from my dotfiles repo :0
rm ../../.pre-commit-config.yaml

export PNPM_HOME=$HOME/.local/share/pnpm
export PATH=$PNPM_HOME:$PATH
