dotenv_if_exists
use flake

if ! test -d node_modules && test -d package.json; then
  if test -d package-lock.json; then
    npm install
  elif test -d yarn.lock; then
    yarn
  elif test -d pnpm-lock.yaml; then
    pnpm i
  fi
fi

export PNPM_HOME="/home/dtsf/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
