# Window colors config
client.focused          $borderActive     $borderActive       $color7     	$borderActive
client.focused_inactive $borderInactive   $borderInactive     $color7		$borderInactive
client.unfocused        $borderInactive   $borderInactive     $color7		$borderInactive
client.urgent           $color9   	  $color9	      $color7		$color9
client.background       $bg-color

# Audio config
set $refresh_i3status killall -SIGUSR1 i3status
focus_follows_mouse no

# Workspaces config
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
