# Font
font pango:Inter Medium 10

# Gruvbox theme

# Colors
set $hc-color #FFFFFF
set $bg-color #262626
set $sc-color #FFFFFF
set $fg-color #FFFFFF
# black + darkgrey
set $color0   #262626
set $color8   #928374
# darkred + red
set $color1   #cc241d
set $color9   #fb4934
# darkgreen + lightgreen
set $color2   #98971a
set $color10  #b8bb26
# darkyellow + yellow
set $color3   #d79921
set $color11  #fabd2f
# darkblue + blue
set $color4   #458588
set $color12  #83a598
# darkmagenta + ffffff
set $color5   #b16286
set $color13  #d3869b
# darkcyan + cyan
set $color6   #689d6a
set $color14  #8ec07c
# lightgrey + white
set $color7   #a89984
set $color15  #ebdbb2
# border
set $color16 #404040
set $borderInactive #403a37
set $borderActive   #504945
