# Font
font pango:Inter Medium 10

# Tokyonight theme

# Colors
set $hc-color #C0CAF5
set $bg-color #1A1B26
set $sc-color #C0CAF5
set $fg-color #C0CAF5
# black + darkgrey
set $color0   #1A1B26
set $color8   #4B5263
# darkred + red
set $color1   #F7768E
set $color9   #FF9E9D
# darkgreen + lightgreen
set $color2   #9ECE6A
set $color10  #ACCE91
# darkyellow + yellow
set $color3   #E0AF68
set $color11  #F9CBBD
# darkblue + blue
set $color4   #7AA2F7
set $color12  #9CC4FF
# darkmagenta + ffffff
set $color5   #BB9AF7
set $color13  #D4BFFF
# darkcyan + cyan
set $color6   #7DCFFF
set $color14  #9EE5FF
# lightgrey + white
set $color7   #C0CAF5
set $color15  #E5E9F0
# border
set $color16 #2A2B36
set $borderInactive #3A3B46
set $borderActive #4A4B56
