.bar {
  color: $fg;
  font-size: 12px;
  background: transparent;
}

.body {
  background: $bg;
  padding: 6px 8px;
  margin: 4px 4px 0 4px;
  border-radius: 4px;
}

.tray {
  margin-right: 12px;
}

.tray button {
  background: transparent;
  border: none;
  margin-left: 12px;
}

.workspaces button {
  background: transparent;
  margin: 0 4px;
  border-radius: 6px;
  padding: 4px 8px;
}

.workspaces button.focused {
  background: $blue;
  color: $bg;
}

.workspaces button.occupied {
  background: $altbg;
}

.client-title {
  margin-left: 1em;
  color: $primary;
}

.volume, .microphone {
  min-width: 90px;
  margin-right: 12px;
}

.volume button, .microphone button {
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  margin-right: 12px;
}
