.launcher {
  background-color: $bg;
  border-radius: 4px;
  padding: 1rem;
  margin: 2rem;
  min-width: 25rem;
  min-height: 45rem;
  font-size: 12px;
}

.launcher .search-entry {
  padding: 8px 12px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 18px;
  font-family: "JetBrainsMono Nerd Font";
  background: $altbg;
  border: 1px solid $altbg;
}

.launcher .search-entry:not(:focused) {
  border: 1px solid $altbg;
  background: transparent;
}

.launcher .app-button {
  padding: 4px 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: $bg;
  border: 1px solid transparent;
}

.launcher .app-icon {
  font-size: 3rem;
  margin-right: 5px;
}

.launcher .app-name {
  font-weight: bold;
  font-size: 1rem;
}

.launcher .app-description {
  font-size: 0.8rem;
}

.launcher .app-button.focused {
  background-color: $altbg;
  border: 1px solid $black;
}
