.powermenu button {
  background: $bg;
  border: 1px solid $altbg;
  margin: 0 8px;
  min-height: 40px;
  font-weight: bold;
  padding: 0 8px;
  border-radius: 6px;
}

.powermenu button:focus {
  background: $altbg;
  border: 1px solid $black;
}

.sleep {
  color: $green;
}

.reboot {
  color: $blue;
}

.shutdown {
  color: $red;
}

.logout {
  color: $yellow;
}
