name: build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hostname: [dtsf-pc, dtsf-laptop]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: recursive

      - name: SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_FOR_SUBMODULES }}

      - name: Prepare dotfiles in /home/dtsf
        run: |
          set -euo pipefail
          sudo mkdir -p /home/dtsf
          sudo chown -R $USER /home/dtsf
          rm -rf /home/dtsf/.dotfiles
          cp -r . /home/dtsf/.dotfiles
          git -C /home/dtsf/.dotfiles config --global --add safe.directory /home/dtsf/.dotfiles

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = https://cache.nixos.org https://datsfilipe-dotfiles.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= datsfilipe-dotfiles.cachix.org-1:lMJDrZFhAuqQrZXHPxJ/XceIptpJVnr3XNBVKDQHCOE=

      - name: Cachix
        uses: cachix/cachix-action@v15
        with:
          name: datsfilipe-dotfiles
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Load nix profile
        run: |
          set -euo pipefail
          if [ -f /home/runner/.nix-profile/etc/profile.d/nix.sh ]; then
            . /home/runner/.nix-profile/etc/profile.d/nix.sh
          fi

      - name: Build
        run: |
          set -euo pipefail
          . /home/runner/.nix-profile/etc/profile.d/nix.sh
          cd /home/dtsf/.dotfiles
          nix build .#nixosConfigurations.${{ matrix.hostname }}.config.system.build.toplevel --print-build-logs --accept-flake-config
