name: "build"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        hostname: [dtsf-pc, dtsf-laptop]

    steps:
      - name: Set up SSH Key for Submodules
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY_FOR_SUBMODULES }}
       
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Mirror Workspace to Target User Directory
        run: |
          sudo mkdir -p /home/dtsf/.dotfiles
          sudo chown -R $USER /home/dtsf
          cp -r "${{ github.workspace }}/." /home/dtsf/.dotfiles/
          git config --global --add safe.directory /home/dtsf/.dotfiles

      - name: Set Up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ matrix.hostname }}
        run: nix build /home/dtsf/.dotfiles#nixosConfigurations.${{ matrix.hostname }}.config.system.build.toplevel --accept-flake-config
